

{% extends 'base.html' %}

{% block conteudo %}

<h1>escolha uma opção de cálculo</h1>

<div class="calculos">

    <a href="{{ url_for('operacoes') }}" >
        <div class="card_calculo card d-flex justify-content-center align-items-center ">
            <i class="icon_calculo bi bi-calculator"></i>
            <h3>operações aritméticas</h3>
        </div>
    </a>
    <a href="{{ url_for('geometria') }}">
        <div class="card_calculo card d-flex justify-content-center align-items-center ">
            <i class="icon_calculo bi bi-pentagon"></i>
            <h3>geometria</h3>
        </div>
    </a>

</div>


{% endblock %}