{% extends 'base.html' %}

{% block conteudo %}

<div class="carrossel d-flex overflow-hidden">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner bg-dark">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="/static/img/carousel%20-%2011" class="d-block w-100 opacity-50" alt="...">
            </div>
            <div class="carousel-item bg-dark" data-bs-interval="2000">
                <img src="/static/img/carousel-12" class="d-block w-100 opacity-50" alt="...">
            </div>
            <div class="carousel-item bg-dark" data-bs-interval="2000">
                <img src="/static/img/carousel-13" class="d-block w-100 opacity-50" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="w-100 h-100 position-absolute d-flex flex-column justify-content-evenly">
        <p class="title-senai text-white display-1 text-center">Capacitação profissional de fotografia</p>
        <p class="subtitle-senai text-white display-6 text-center">Confira os nossos cursos Profissionalizantes</p>
    </div>

</div>

<div class="cursos">

    <div class="curso-text col-6 d-flex flex-column justify-content-center text align-items-center">
        <h2>CURSO DE FOTOGRAFIA</h2>
        <p class="descricao"> O curso de Fotografia é uma graduação que forma profissionais capacitados
            para atuar em diversas áreas, como moda, publicidade e jornalismo. Geralmente, o curso tem duração média de
            dois anos (tecnólogo) ou quatro anos (bacharelado) e abrange tópicos como técnicas de iluminação,
            composição, edição digital e tratamento de imagens. Os alunos aprendem a operar câmeras, utilizar softwares
            de edição e desenvolver habilidades práticas em estúdios fotográficos. Além disso, o curso promove um olhar
            crítico e artístico, preparando os estudantes para enfrentar os desafios do mercado de trabalho.</p>
    </div>

    <div class="curso-img bg-dark col-6">
        <img src="/static/img/carousel-14 " class="w-100 h-100">
    </div>


</div>

<div class="cursos2">

    <div class="curso-img bg-dark col-6">
        <img src="/static/img/carousel-16 " class="w-100 h-100">
    </div>

    <div class="curso-text col-6 d-flex flex-column justify-content-center text align-items-center">
        <H2>CURSO DE GASTRONOMIA</H2>
        <p class="descricao">
O curso de Gastronomia é uma formação que combina técnica, ciência, criatividade e gestão. Os alunos aprendem a preparar alimentos e bebidas, desenvolvendo habilidades em nutrição, segurança alimentar, cultura gastronômica e muito mais. O curso é dividido em disciplinas teóricas e práticas, com aulas em cozinhas-laboratório. Os graduados podem atuar em restaurantes, bares, hotéis, bufês, hospitais, serviços de fornecimento de alimentos (catering) e eventos. Além disso, podem abrir seu próprio negócio de culinária ou prestar consultorias em cardápios e livros de culinária. O curso é uma oportunidade para quem deseja seguir carreira na área de Gastronomia e se destacar no mercado de trabalho.</p>
    </div>

</div>



{% endblock %}